body{
	margin: 3% !important;
}
.tab-content{
	margin: 20px;
}

.form-inline .form-group{
	margin-bottom: 20px;
}

#persona{
	display: none;
}

#maquina{
	display: none;
}

#material{
	display: none;
}

.modal-content{
	padding: 50px !important;
}

.pie{
	width: 100%;
}

#cerrar{

}

#queja{
	display: none;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

#lizquierdo{
	display: none
}
#lderecho{
	display: none
}